lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

server/config.js
client/js/config.js

server/scripts/*
!server/scripts/main.coffee
!server/scripts/chat.coffee
