body { padding: 0; margin: 50px 0 0 0; font: 13px Helvetica,arial,freesans,clean,sans-serif; background-color: white; }
#terminal { 
	height: 700px;
}

#chat-output {
	display: block;
	height: 500px;
	overflow: auto; 
}
#chat-message { width: 300px; height: 100px; margin: 20px 0 0 0; }
